<!DOCTYPE html>
<html>
<head>
  <title>Provisioning Test Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY$
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
  <style type="text/css">
    body {
      font-family: 'Slabo 27px', serif;
      height:100vh;
    }

    img {
      width:100px;
    }

    .blog {
      padding:50px;
    }

    .post {
      padding:20px;
    }
  </style>
</head>
<body>
  <div class="blog">
    <img src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" />
    <h1>Recent Posts</h1>
    <a class="btn btn-primary" href="http://192.168.33.10/" role="button">Home Page</a>
    <hr/>

    <% posts.forEach(function(post){ %>
    <div class="post">
      <h3><%= post.title %></h3>
      <p><%= post.body %></p>
    </div>
    <% }) %>
  </div>
</body>
</html>